# Data Wrangling

# Creating a DataFrame

In [1]:
import pandas as pd
dataframe = pd.DataFrame()

In [2]:
import pandas as pd

df = pd.read_csv("Plane-Crashes.csv")

print(df.head(2))

print(df.tail(2))

print("Dimensions: {}".format(df.shape))

print(df.describe())

         Date Time             Aircraft                           Operator  \
0  1918-05-02  NaN    De Havilland DH.4  United States Signal Corps - USSC
1  1918-06-08  NaN  Handley Page V/1500  Handley Page Aircraft Company Ltd

  Registration     Flight phase Flight type Survivors  \
0     AS-32084  Takeoff (climb)        Test        No
1        E4104  Takeoff (climb)        Test       Yes

                               Crash site                   Schedule  ...  \
0  Airport (less than 10 km from airport)            Dayton - Dayton  ...
1  Airport (less than 10 km from airport)  Cricklewood - Cricklewood  ...

                    Country         Region  Crew on board Crew fatalities  \
0  United States of America  North America            2.0             2.0
1            United Kingdom         Europe            6.0             5.0

  Pax on board PAX fatalities  Other fatalities  Total fatalities  \
0          0.0            0.0               0.0                 2
1          0.0            0.0               0.0                 5

                                       Circumstances        Crash cause
0  The single engine airplane departed Dayton-McC...  Technical failure
1  Assembled at Cricklewood Airfield in May 1918,...  Technical failure

[2 rows x 24 columns]
             Date        Time                       Aircraft  \
28534  2022-05-29   10H 7M 0S  De Havilland DHC-6 Twin Otter
28535  2022-06-03  13H 46M 0S      Cessna 208B Grand Caravan

               Operator Registration                   Flight phase  \
28534          Tara Air       9N-AET                         Flight
28535  GoJump Oceanside       N7581F  Landing (descent or approach)

                    Flight type Survivors  \
28534  Scheduled Revenue Flight        No
28535  Skydiving / Paratroopers       Yes

                                   Crash site               Schedule  ...  \
28534                               Mountains       Pokhara – Jomsom  ...
28535  Airport (less than 10 km from airport)  Oceanside - Oceanside  ...

                        Country         Region  Crew on board Crew fatalities  \
28534                     Nepal           Asia            3.0             3.0
28535  United States of America  North America            1.0             0.0

      Pax on board PAX fatalities  Other fatalities  Total fatalities  \
28534         19.0           19.0               0.0                22
28535          1.0            1.0               0.0                 1

                                           Circumstances   Crash cause
28534  The twin engine airplane departed Pokhara City...  Human factor
28535  The single engine was completing local skydivi...       Unknown

[2 rows x 24 columns]
Dimensions: (28536, 24)
                YOM  Flight no.  Crew on board  Crew fatalities  Pax on board  \
count  23225.000000         0.0   28512.000000     28535.000000  28482.000000
mean    1931.942519         NaN       3.052539         1.771649      7.705393
std      285.486067         NaN      11.738151         2.520554     24.066368
min        0.000000         NaN       0.000000         0.000000      0.000000
25%     1944.000000         NaN       1.000000         0.000000      0.000000
50%     1958.000000         NaN       2.000000         1.000000      0.000000
75%     1974.000000         NaN       4.000000         3.000000      4.000000
max    19567.000000         NaN    1924.000000        25.000000    509.000000

       PAX fatalities  Other fatalities  Total fatalities
count    28535.000000      28526.000000      28536.000000
mean         3.679727          0.109760          5.567389
std         15.288171          2.644296         16.713203
min          0.000000          0.000000          0.000000
25%          0.000000          0.000000          0.000000
50%          0.000000          0.000000          1.000000
75%          1.000000          0.000000          5.000000
max        506.000000        297.000000        520.000000

# Navigating DataFrame

In [3]:
# select the first row
print(df.iloc[0])
# select three rows
print(df.iloc[1:4])
# all rows up to and including the fourth row
print(df.iloc[:4])

Date                                                       1918-05-02
Time                                                              NaN
Aircraft                                            De Havilland DH.4
Operator                            United States Signal Corps - USSC
Registration                                                 AS-32084
Flight phase                                          Takeoff (climb)
Flight type                                                      Test
Survivors                                                          No
Crash site                     Airport (less than 10 km from airport)
Schedule                                              Dayton - Dayton
MSN                                                               NaN
YOM                                                               NaN
Flight no.                                                        NaN
Crash location                               Dayton-McCook Field Ohio
Country                                      United States of America
Region                                                  North America
Crew on board                                                     2.0
Crew fatalities                                                   2.0
Pax on board                                                      0.0
PAX fatalities                                                    0.0
Other fatalities                                                  0.0
Total fatalities                                                    2
Circumstances       The single engine airplane departed Dayton-McC...
Crash cause                                         Technical failure
Name: 0, dtype: object
         Date Time             Aircraft                           Operator  \
1  1918-06-08  NaN  Handley Page V/1500  Handley Page Aircraft Company Ltd
2  1918-06-11  NaN             Avro 504              Royal Air Force - RAF
3  1918-06-19  NaN    De Havilland DH.4  United States Signal Corps - USSC

  Registration     Flight phase Flight type Survivors  \
1        E4104  Takeoff (climb)        Test       Yes
2        A8544           Flight    Training       Yes
3     AS-32098           Flight    Military        No

                               Crash site  \
1  Airport (less than 10 km from airport)
2                           Plain, Valley
3  Airport (less than 10 km from airport)

                                    Schedule  ...                   Country  \
1                  Cricklewood - Cricklewood  ...            United Kingdom
2                            Abukir - Abukir  ...                     Egypt
3  Wright Patterson AFB-Wright Patterson AFB  ...  United States of America

          Region  Crew on board Crew fatalities Pax on board PAX fatalities  \
1         Europe            6.0             5.0          0.0            0.0
2         Africa            2.0             1.0          0.0            0.0
3  North America            1.0             1.0          0.0            0.0

   Other fatalities  Total fatalities  \
1               0.0                 5
2               0.0                 1
3               0.0                 1

                                       Circumstances        Crash cause
1  Assembled at Cricklewood Airfield in May 1918,...  Technical failure
2  The single engine aircraft was completing a lo...            Unknown
3  Lt. Frank Stuart Patterson, son and nephew of ...  Technical failure

[3 rows x 24 columns]
         Date Time             Aircraft                           Operator  \
0  1918-05-02  NaN    De Havilland DH.4  United States Signal Corps - USSC
1  1918-06-08  NaN  Handley Page V/1500  Handley Page Aircraft Company Ltd
2  1918-06-11  NaN             Avro 504              Royal Air Force - RAF
3  1918-06-19  NaN    De Havilland DH.4  United States Signal Corps - USSC

  Registration     Flight phase Flight type Survivors  \
0     AS-32084  Takeoff (climb)        Test        No
1        E4104  Takeoff (climb)        Test       Yes
2        A8544           Flight    Training       Yes
3     AS-32098           Flight    Military        No

                               Crash site  \
0  Airport (less than 10 km from airport)
1  Airport (less than 10 km from airport)
2                           Plain, Valley
3  Airport (less than 10 km from airport)

                                    Schedule  ...                   Country  \
0                            Dayton - Dayton  ...  United States of America
1                  Cricklewood - Cricklewood  ...            United Kingdom
2                            Abukir - Abukir  ...                     Egypt
3  Wright Patterson AFB-Wright Patterson AFB  ...  United States of America

          Region  Crew on board Crew fatalities Pax on board PAX fatalities  \
0  North America            2.0             2.0          0.0            0.0
1         Europe            6.0             5.0          0.0            0.0
2         Africa            2.0             1.0          0.0            0.0
3  North America            1.0             1.0          0.0            0.0

   Other fatalities  Total fatalities  \
0               0.0                 2
1               0.0                 5
2               0.0                 1
3               0.0                 1

                                       Circumstances        Crash cause
0  The single engine airplane departed Dayton-McC...  Technical failure
1  Assembled at Cricklewood Airfield in May 1918,...  Technical failure
2  The single engine aircraft was completing a lo...            Unknown
3  Lt. Frank Stuart Patterson, son and nephew of ...  Technical failure

[4 rows x 24 columns]

# Set DataFrame Index to Unique Column for Easy Row Selection

In [4]:
df [df ['Flight type'] == 'Military'].head (2)

,Date,Time,Aircraft,Operator,Registration,Flight phase,Flight type,Survivors,Crash site,Schedule,...,Country,Region,Crew on board,Crew fatalities,Pax on board,PAX fatalities,Other fatalities,Total fatalities,Circumstances,Crash cause
3,1918-06-19,NaN,De Havilland DH.4,United States Signal Corps - USSC,AS-32098,Flight,Military,No,Airport (less than 10 km from airport),Wright Patterson AFB-Wright Patterson AFB,...,United States of America,North America,1.0,1.0,0.0,0.0,0.0,1,"Lt. Frank Stuart Patterson, son and nephew of ...",Technical failure
4,1918-06-24,NaN,Breguet 14,French Air Force - Armée de l'Air,AS-4130,Landing (descent or approach),Military,Yes,NaN,NaN,...,France,Europe,NaN,0.0,NaN,0.0,0.0,0,The aircraft crashed iupon landing somewhere i...,Unknown

# 3.4 Selecting Rows Based on Conditionals

In [5]:
df [(df['Flight type'] == 'Military') & (df ['Survivors'] == 'No')]

,Date,Time,Aircraft,Operator,Registration,Flight phase,Flight type,Survivors,Crash site,Schedule,...,Country,Region,Crew on board,Crew fatalities,Pax on board,PAX fatalities,Other fatalities,Total fatalities,Circumstances,Crash cause
3,1918-06-19,NaN,De Havilland DH.4,United States Signal Corps - USSC,AS-32098,Flight,Military,No,Airport (less than 10 km from airport),Wright Patterson AFB-Wright Patterson AFB,...,United States of America,North America,1.0,1.0,0.0,0.0,0.0,1,"Lt. Frank Stuart Patterson, son and nephew of ...",Technical failure
12,1918-10-27,NaN,De Havilland DH.4,Royal Air Force - RAF,F2633,Flight,Military,No,"Lake, Sea, Ocean, River",NaN,...,France,Europe,2.0,2.0,0.0,0.0,0.0,2,The airplane crashed in unknown circumstances ...,Unknown
23,1918-12-22,NaN,Breguet 14,French Air Force - Armée de l'Air,NaN,Flight,Military,No,Mountains,Thessaloniki - Athens,...,Greece,Europe,1.0,1.0,0.0,0.0,0.0,1,"The pilot, sole on board, departed Thessalonik...",Weather
24,1918-12-31,NaN,Blackburn R.T.1 Kangaroo,Royal Air Force - RAF,B9983,Landing (descent or approach),Military,No,Airport (less than 10 km from airport),Seaton Carew AFB - Seaton Carew AFB,...,United Kingdom,Europe,2.0,2.0,0.0,0.0,0.0,2,"While landing, aircraft bounced and crashed in...",Unknown
26,1919-02-20,NaN,De Havilland DH.4,French Air Force - Armée de l'Air,A-31615,Flight,Military,No,"Plain, Valley",NaN,...,France,Europe,1.0,1.0,0.0,0.0,0.0,1,The DH.4 collided with a Salmson aircraft over...,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28389,2021-01-12,NaN,Harbin Yunsunji Y-12,Kenya Air Force,NaN,Landing (descent or approach),Military,No,Mountains,Nairobi - Voi,...,Kenya,Africa,4.0,4.0,0.0,0.0,0.0,4,"On approach to Voi Airport, the twin engine ai...",Unknown
28399,2021-02-21,11H 48M 0S,Beechcraft 350 Super King Air,Nigerian Air Force,NAF201,Landing (descent or approach),Military,No,Airport (less than 10 km from airport),Abuja - Minna,...,Nigeria,Africa,2.0,2.0,5.0,5.0,0.0,7,After takeoff from Abuja-Nnamdi Azikiwe Airpor...,Technical failure
28400,2021-02-21,9H 45M 0S,Learjet 45,Mexican Air Force - Fuerza Aérea Mexicana,3912,Takeoff (climb),Military,No,Airport (less than 10 km from airport),Xalapa – Villahermosa,...,Mexico,Central America,2.0,2.0,4.0,4.0,0.0,6,During the takeoff roll from runway 26 at Xala...,Unknown
28429,2021-05-21,18H 0M 0S,Beechcraft 350 Super King Air,Nigerian Air Force,NAF203,Landing (descent or approach),Military,No,Airport (less than 10 km from airport),NaN,...,Nigeria,Africa,4.0,4.0,7.0,7.0,0.0,11,On final approach to Kaduna Airport in poor we...,Unknown
28509,2022-02-24,NaN,Antonov AN-26,Russian Air Force - Voyenno-vozdushnye sily Ro...,RF-36074,Flight,Military,No,"Plain, Valley",NaN,...,Russia,Asia,0.0,0.0,0.0,0.0,0.0,0,The aircraft crashed in unknown circumstances ...,Unknown

# 3.5 Replacing Values

In [6]:
df ['Survivors'].replace('No', 'No Survivors').head (2)

0    No Survivors
1             Yes
Name: Survivors, dtype: object

In [7]:
df ['Survivors'].replace(['No', 'Yes'], ['No Survivors', 'Has Survivors']). head (5)

0     No Survivors
1    Has Survivors
2    Has Survivors
3     No Survivors
4    Has Survivors
Name: Survivors, dtype: object

In [8]:
df.replace('Military', 'Military Flight').head (2)

,Date,Time,Aircraft,Operator,Registration,Flight phase,Flight type,Survivors,Crash site,Schedule,...,Country,Region,Crew on board,Crew fatalities,Pax on board,PAX fatalities,Other fatalities,Total fatalities,Circumstances,Crash cause
0,1918-05-02,NaN,De Havilland DH.4,United States Signal Corps - USSC,AS-32084,Takeoff (climb),Test,No,Airport (less than 10 km from airport),Dayton - Dayton,...,United States of America,North America,2.0,2.0,0.0,0.0,0.0,2,The single engine airplane departed Dayton-McC...,Technical failure
1,1918-06-08,NaN,Handley Page V/1500,Handley Page Aircraft Company Ltd,E4104,Takeoff (climb),Test,Yes,Airport (less than 10 km from airport),Cricklewood - Cricklewood,...,United Kingdom,Europe,6.0,5.0,0.0,0.0,0.0,5,"Assembled at Cricklewood Airfield in May 1918,...",Technical failure

# 3.6 Renaming Columns

In [9]:
df.rename(columns={'Operator': 'Airline Operator'}).head (2)

,Date,Time,Aircraft,Airline Operator,Registration,Flight phase,Flight type,Survivors,Crash site,Schedule,...,Country,Region,Crew on board,Crew fatalities,Pax on board,PAX fatalities,Other fatalities,Total fatalities,Circumstances,Crash cause
0,1918-05-02,NaN,De Havilland DH.4,United States Signal Corps - USSC,AS-32084,Takeoff (climb),Test,No,Airport (less than 10 km from airport),Dayton - Dayton,...,United States of America,North America,2.0,2.0,0.0,0.0,0.0,2,The single engine airplane departed Dayton-McC...,Technical failure
1,1918-06-08,NaN,Handley Page V/1500,Handley Page Aircraft Company Ltd,E4104,Takeoff (climb),Test,Yes,Airport (less than 10 km from airport),Cricklewood - Cricklewood,...,United Kingdom,Europe,6.0,5.0,0.0,0.0,0.0,5,"Assembled at Cricklewood Airfield in May 1918,...",Technical failure

# 3.7 Finding the Minimum, Maximum, Sum, Average, and Count

In [10]:
print('Maximum:', df['Total fatalities'].max())
print('Minimum:', df['Total fatalities'].min())
print('Mean:', df['Total fatalities'].mean())
print('Sum:', df['Total fatalities'].sum())
print('Count:', df['Total fatalities'].count())

Maximum: 520
Minimum: 0
Mean: 5.567388561816653
Sum: 158871
Count: 28536

# 3.8 Finding Unique Values

In [11]:
df['Country'].unique()

array(['United States of America', 'United Kingdom', 'Egypt', 'France',
       'Portugal', 'Greece', 'Slovakia', 'Italy', 'Belgium', 'Ireland',
       'Czech Republic', 'Mexico', 'Germany', 'Sudan', 'South Africa',
       'Malaysia', 'Tanzania', 'Zimbabwe', 'Switzerland', 'Spain',
       'World', 'Colombia', 'Sweden', 'Indonesia', 'Cuba', 'Norway',
       'Philippines', 'Canada', 'New Zealand', 'Brazil', 'Poland', 'Iraq',
       'Australia', 'Netherlands', 'Denmark', 'Pakistan', 'Chile',
       'China', 'Turkey', 'India', 'Morocco', 'Hungary', 'Russia',
       'Lithuania', 'Romania', 'Niger', 'Georgia', 'Mauritania',
       'Estonia', 'Algeria', 'Uruguay', 'Bolivia', 'Western Sahara',
       'Kenya', 'Venezuela', 'Ukraine', 'Dominican Republic', 'Guyana',
       'Austria', 'Senegal', 'Finland', 'Papua New Guinea', 'Argentina',
       'Bulgaria', 'Japan', 'Panama', 'Bahamas', 'Tunisia', 'Zambia',
       'Puerto Rico', 'Costa Rica', 'Myanmar',
       'Democratic Republic of Congo', 'South Sudan', 'Paraguay',
       'Nicaragua', 'Iran', 'Guatemala', 'Libya', 'Antarctica',
       'Azerbaijan', 'Mali', 'Malta', 'Yemen', 'Guinea Bissau', 'Ecuador',
       'Thailand', 'Syria', 'Palestine', 'Belarus', 'Lebanon',
       'Greenland', 'Singapore', 'Honduras', 'Peru', 'Madagascar',
       'Croatia', 'Slovenia', 'Montenegro', 'Ethiopia', 'Kazakhstan',
       'Tajikistan', 'Trinidad and Tobago', 'Namibia', 'Benin', 'Uganda',
       'Israel', 'Gambia', 'Nigeria', 'Jamaica', 'Bosnia and Herzegovina',
       'Chad', 'Mozambique', 'Taiwan', 'Djibouti', 'Guinea', 'Vietnam',
       'Iceland', 'Uzbekistan', 'Serbia', 'Turkmenistan', 'Sierra Leone',
       'Fiji Islands', 'Kyrgyzstan', 'Kuwait', 'Tonga', 'Solomon Islands',
       'New Caledonia', 'Vanuatu', 'Timor Leste',
       'Central African Republic', 'Bermuda', 'Suriname', 'Kiribati',
       'Eritrea', 'Ghana', 'Oman', 'Cyprus', 'Bangladesh', 'Sri Lanka',
       'Latvia', 'Bhutan', 'Liberia', 'Bahrain', 'Palau',
       'Marshall Islands', nan, 'Ascension Island', 'Tuvalu',
       'Guam Island', 'Ivory Coast', 'United Arab Emirates', 'Martinique',
       'Northern Mariana Islands', 'Cambodia', 'Nepal', 'South Korea',
       'Salvador', 'Cameroon', 'Jordan', 'Saudi Arabia', 'Somalia',
       'Federated States of Micronesia', 'Macedonia', 'US Virgin Islands',
       'Congo', 'Burkina Faso', 'Angola', 'North Korea',
       'Samoa Islands (Western Samoa)', 'Laos', 'Cayman Islands',
       'Malawi', 'Luxembourg', 'Afghanistan', 'Armenia', 'Faroe Islands',
       'Lesotho', 'Cabo Verde', 'French Polynesia', 'Haiti',
       'Maldivian Islands', 'Saint Kitts and Nevis', 'Mauritius',
       'Equatorial Guinea', 'Saint Pierre and Miquelon', 'Gabon',
       'Belize', 'Guadeloupe', 'São Tomé and Principe',
       'Turks and Caicos Islands', 'Mongolia', 'Dutch Antilles',
       'Moldova', 'Montserrat', 'British Virgin Islands',
       'Comoros Islands', 'La Reunion', 'French Guyana', 'Botswana',
       'Monaco', 'Saint Lucia', 'Togo', 'American Samoa',
       'Falkland Islands', 'Seychelles', 'Barbados', 'Saint-Barthélemy',
       'Qatar', 'Saint Vincent and Grenadines', 'Mayotte', 'Rwanda',
       'Chagos Archipelago', 'Cook Islands', 'Dominica', 'Albania',
       'Kosovo', 'Swaziland', 'Anguilla', 'Antigua'], dtype=object)

# 3.9 Handling Missing Values

In [12]:
df[df['Aircraft'].isnull()]

,Date,Time,Aircraft,Operator,Registration,Flight phase,Flight type,Survivors,Crash site,Schedule,...,Country,Region,Crew on board,Crew fatalities,Pax on board,PAX fatalities,Other fatalities,Total fatalities,Circumstances,Crash cause
2812,1936-06-19,NaN,NaN,Universal Air Industries,G-CAST,Takeoff (climb),Private,NaN,Airport (less than 10 km from airport),NaN,...,Canada,North America,0.0,0.0,0.0,0.0,0.0,0,"Shortly after takeoff, while climbing, the air...",Unknown

In [13]:
df['Aircraft'].fillna('Unknown Aircraft', inplace=False).head()

0      De Havilland DH.4
1    Handley Page V/1500
2               Avro 504
3      De Havilland DH.4
4             Breguet 14
Name: Aircraft, dtype: object

# 3.10 Deleting a Column

In [14]:
df.drop('MSN', axis=1).head(2)

,Date,Time,Aircraft,Operator,Registration,Flight phase,Flight type,Survivors,Crash site,Schedule,...,Country,Region,Crew on board,Crew fatalities,Pax on board,PAX fatalities,Other fatalities,Total fatalities,Circumstances,Crash cause
0,1918-05-02,NaN,De Havilland DH.4,United States Signal Corps - USSC,AS-32084,Takeoff (climb),Test,No,Airport (less than 10 km from airport),Dayton - Dayton,...,United States of America,North America,2.0,2.0,0.0,0.0,0.0,2,The single engine airplane departed Dayton-McC...,Technical failure
1,1918-06-08,NaN,Handley Page V/1500,Handley Page Aircraft Company Ltd,E4104,Takeoff (climb),Test,Yes,Airport (less than 10 km from airport),Cricklewood - Cricklewood,...,United Kingdom,Europe,6.0,5.0,0.0,0.0,0.0,5,"Assembled at Cricklewood Airfield in May 1918,...",Technical failure

# 3.11 Deleting a Row

In [15]:
df[df['Country'] != 'United States of America'].head(3)

,Date,Time,Aircraft,Operator,Registration,Flight phase,Flight type,Survivors,Crash site,Schedule,...,Country,Region,Crew on board,Crew fatalities,Pax on board,PAX fatalities,Other fatalities,Total fatalities,Circumstances,Crash cause
1,1918-06-08,NaN,Handley Page V/1500,Handley Page Aircraft Company Ltd,E4104,Takeoff (climb),Test,Yes,Airport (less than 10 km from airport),Cricklewood - Cricklewood,...,United Kingdom,Europe,6.0,5.0,0.0,0.0,0.0,5,"Assembled at Cricklewood Airfield in May 1918,...",Technical failure
2,1918-06-11,NaN,Avro 504,Royal Air Force - RAF,A8544,Flight,Training,Yes,"Plain, Valley",Abukir - Abukir,...,Egypt,Africa,2.0,1.0,0.0,0.0,0.0,1,The single engine aircraft was completing a lo...,Unknown
4,1918-06-24,NaN,Breguet 14,French Air Force - Armée de l'Air,AS-4130,Landing (descent or approach),Military,Yes,NaN,NaN,...,France,Europe,NaN,0.0,NaN,0.0,0.0,0,The aircraft crashed iupon landing somewhere i...,Unknown

# 3.12 Dropping Duplicate Rows

In [16]:
print('Number Of Rows In The Original DataFrame:', len(df))
print('Number Of Rows After Deduping:', len(df.drop_duplicates()))

Number Of Rows In The Original DataFrame: 28536
Number Of Rows After Deduping: 28457

# 3.13 Grouping Rows by Values

In [17]:
df.groupby('Country')['Total fatalities'].mean()

Country
Afghanistan       11.813725
Albania            4.500000
Algeria           10.909091
American Samoa    35.333333
Angola             9.089431
                    ...
Western Sahara     1.142857
World              9.472454
Yemen              4.578947
Zambia             3.172414
Zimbabwe           4.028571
Name: Total fatalities, Length: 219, dtype: float64

# 3.14 Grouping Rows by Time

In [18]:
df['Date'] = pd.to_datetime(df['Date'])
df.set_index('Date').resample('YE')['Total fatalities'].sum()

Date
1918-12-31      29
1919-12-31      50
1920-12-31      77
1921-12-31      78
1922-12-31     105
              ...
2018-12-31    1039
2019-12-31     588
2020-12-31     480
2021-12-31     414
2022-12-31     224
Freq: YE-DEC, Name: Total fatalities, Length: 105, dtype: int64

# 3.15 Looping Over a Column

In [19]:
for aircraft in df['Aircraft'][0:5]:
    print(aircraft.upper())

DE HAVILLAND DH.4
HANDLEY PAGE V/1500
AVRO 504
DE HAVILLAND DH.4
BREGUET 14

# 3.16 Applying a Function Over All Elements in a Column

In [20]:
def uppercase(x):
    return x.upper()

df['Aircraft'].apply(uppercase)[0:5]

AttributeError: 'float' object has no attribute 'upper'

# 3.17 Applying a Function to Groups

In [ ]:
df.groupby('Country')['Total fatalities'].apply(lambda x: x.max() - x.min())

Country
Afghanistan       105
Albania             9
Algeria           257
American Samoa     96
Angola            141
                 ...
Western Sahara      5
World             329
Yemen              58
Zambia             29
Zimbabwe           59
Name: Total fatalities, Length: 219, dtype: int64

# 3.18 Concatenating DataFrames

In [ ]:
df_a = df.head(3)
df_b = df.tail(3)
pd.concat([df_a, df_b], axis=0)

,Date,Time,Aircraft,Operator,Registration,Flight phase,Flight type,Survivors,Crash site,Schedule,...,Country,Region,Crew on board,Crew fatalities,Pax on board,PAX fatalities,Other fatalities,Total fatalities,Circumstances,Crash cause
0,1918-05-02,NaN,De Havilland DH.4,United States Signal Corps - USSC,AS-32084,Takeoff (climb),Test,No,Airport (less than 10 km from airport),Dayton - Dayton,...,United States of America,North America,2.0,2.0,0.0,0.0,0.0,2,The single engine airplane departed Dayton-McC...,Technical failure
1,1918-06-08,NaN,Handley Page V/1500,Handley Page Aircraft Company Ltd,E4104,Takeoff (climb),Test,Yes,Airport (less than 10 km from airport),Cricklewood - Cricklewood,...,United Kingdom,Europe,6.0,5.0,0.0,0.0,0.0,5,"Assembled at Cricklewood Airfield in May 1918,...",Technical failure
2,1918-06-11,NaN,Avro 504,Royal Air Force - RAF,A8544,Flight,Training,Yes,"Plain, Valley",Abukir - Abukir,...,Egypt,Africa,2.0,1.0,0.0,0.0,0.0,1,The single engine aircraft was completing a lo...,Unknown
28533,2022-05-24,15H 40M 0S,De Havilland DHC-3 Otter,Yakutat Coastal Airlines,N703TH,Landing (descent or approach),Charter/Taxi (Non Scheduled Revenue Flight),Yes,Airport (less than 10 km from airport),Yakutat – Dry Bay,...,United States of America,North America,1.0,0.0,3.0,0.0,0.0,0,The single engine airplane departed Yakutat on...,Unknown
28534,2022-05-29,10H 7M 0S,De Havilland DHC-6 Twin Otter,Tara Air,9N-AET,Flight,Scheduled Revenue Flight,No,Mountains,Pokhara – Jomsom,...,Nepal,Asia,3.0,3.0,19.0,19.0,0.0,22,The twin engine airplane departed Pokhara City...,Human factor
28535,2022-06-03,13H 46M 0S,Cessna 208B Grand Caravan,GoJump Oceanside,N7581F,Landing (descent or approach),Skydiving / Paratroopers,Yes,Airport (less than 10 km from airport),Oceanside - Oceanside,...,United States of America,North America,1.0,0.0,1.0,1.0,0.0,1,The single engine was completing local skydivi...,Unknown

# 3.19 Merging DataFrames

In [ ]:
df_employees = pd.DataFrame({
    'employee_id': ['1', '2', '3', '4'],
    'employee_name': ['John', 'Jane', 'Bob', 'Alice']
})

df_sales = pd.DataFrame({
    'employee_id': ['3', '4', '5', '6'],
    'total_sales': [23456, 2512, 2345, 1455]
})

pd.merge(df_employees, df_sales, on='employee_id')

  employee_id employee_name  total_sales
0           3           Bob        23456
1           4         Alice         2512